.raleway-normal
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.inter-normal 
{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header
{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.header-logo
{
    font-size: 50px;
    color: #4E47FF;
    font-weight: bolder;
}
.btn
{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 132px;
    height: 48px;
    font-size: 16px;
}
.template
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 905px;
    height: 237px;
    margin-top: -50px;
}
nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 900px;
    justify-content: space-around;
    margin: 0 150px 127px;
    margin-top: -200px;
}
.cool
{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: -50px;
}
.btn-3
{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 174px;
    height: 48px;
    font-size: 16px;
    margin-top: -20px;
}
body 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF0FF;
}
.section-1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1140px;
    height: 328px;
    margin-bottom: 200px;
}
.explore
{
    font-size: 24px;
}
.web-small
{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    margin-left: 200px;
}
.btn-1
{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 229px;
    height: 48px;
    font-size: 16px;
}
.user
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    background-color: #F8F8FF	;
    width: 1140px;
    height: 350px;
    border-radius: 24px;
}
.amount
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data
{
    padding-top: 0;
    display: flex;
    flex-direction: row;
    gap: 100px;
    row-gap: 0;
    margin-bottom: 100px;
}
.joined
{
    margin-top: 25px;
    font-size: 38px;
    margin-bottom: 0;
    margin-top: 100px;
    font-weight: bold;
}
.number
{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0;
}
.users-say
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    width: 1140px;
    height: 342px;
}
.our
{
    font-size: 42px;
    font-weight: bold;
}
.users
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.individual
{
    background-color: #F8F8FF;
    width: 366.67px;
    height: 243px;
    padding-left: 60px;
    padding-top: 40px;
    border-radius: 14px;
}
.review
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image
{
    border-radius: 50%;
}
.man
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.better
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 696.77px;
    border-radius: 10px;
    background-color: #F8F8FF;
    margin-bottom: 100px;
}
.web-big
{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.better-heading
{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}
.btn-2
{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 195px;
    height: 48px;
    font-size: 16px;
}
.lets-touch
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 632px;
    margin-bottom: 100px;
}
.touch 
{
    font-size: 97px;
    font-weight: bold;
    margin-right: 100px;
}
.btn-4
{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    width: 497px;
    height: 62px;
    font-size: 16px;
}
.last
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div ul 
{
    display: flex;
    gap: 80px;
}
footer div ul li 
{
    list-style: none;
}
footer div ul li a
{
    text-decoration: none;
    color: #8987A1;
}
.logo
{
    color: #4E47FF;
    font-size: 100px;
}
.writing
{
    color: #8987A1;
}
footer
{
    background-color: #F8F8FF;
    width: 1440px;
    height: 428px;
}
.input-1
{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: none;
}
.input-2
{
    width: 497px;
    height: 135px;
    border-radius: 10px;
    border: none;
}